.users {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3.5rem;
    justify-content: center;
}

.userItem {
    position: relative;
    text-align: center;
    background: #0f1115;
    border: 1px solid #2d3440;
    border-radius: 16px;
    padding: 2rem 1.125rem 1.125rem;
    overflow: hidden;
}
.userItem > span {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 9rem;
    height: 9rem;
    background-color: #7e47eb;
    border-radius: 80px;
    margin-bottom: 1rem;
    font-size: 48px;
    line-height: 52px;
    text-align: center;
    color: #fffffffa;
}
.userItem > p {
    font-size: 0.875rem;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.25px;
    color: #f5f9fff2;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #2d3440bf;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(30px);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.userItem:hover .overlay {
    opacity: 1;
}

.callBtn {
    display: inline-flex;
    align-items: center;
    margin: 0;
    border-color: #fff !important;
    color: #fff !important;
}
.callBtn > span {
    margin-left: 0.375rem;
}

@media screen and (max-width: 991.98px) {
    .users {
        gap: 2.5rem;
    }
}

@media screen and (max-width: 575.98px) {
    .users {
        grid-template-columns: repeat(1, 1fr);
        gap: 1.5rem;
    }
}
