.actions {
    position: absolute;
    bottom: 1.5rem;
    left: 0;
    right: 0;
    justify-content: center;
}

.actions button {
    width: 48px !important;
    height: 48px !important;
    border-radius: 0.5rem !important;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: #ffffff !important;
    background-color: transparent;
    border-color: #2d3440 !important;
    margin: 0;
}
.actions button:hover,
.actions button:focus {
    background-color: rgb(59, 68, 84, 0.35);
}

.active {
    border-color: #2d3440 !important;
    background-color: #2d3440 !important;
}
.active:hover,
.active:focus {
    border-color: #394251 !important;
    background-color: #394251 !important;
}
